<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header and footer</title>
    <link rel="shortcut icon" href="assets/img/favicon.png?v=2" type="image/x-icon">
    <link rel="stylesheet" href="assets/style/header-footer.css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="container flexbox">
          <div class="title">
            <h1>Super Website</h1>
          </div>
          <nav>
            <ul>
              <li><a href="#" target="_blank">Shop</a></li>
              <li><a href="#" target="_blank">Contact</a></li>
              <li><a href="#" target="_blank">Abour us</a></li>
              <li><a href="#" target="_blank">My account</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main></main>

      <footer>
         <div class="container">
            <div class="footer-content">
               <div class="social">
                  <div class="nav">
                     <ul>
                        <li><a class="twitter" href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="instagram" href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="youtube" href="#" title="YouTube"><i class="fab fa-youtube"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="copyright">
                  <p>&copy 2021 Super Website</p>
               </div>
            </div>
         </div>
      </footer>
    </div>
  </body>
</html>
