@import "base.css";


body {
  height: 1400px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Components: header                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  min-width: 100%;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
}

header div {
  display: flex;
  justify-content: space-between;
}

.title h1 {
  font-size: 19px;
  font-weight: 600;
  color: #333;
  line-height: 60px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

nav {
  text-align: right;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline;
  line-height: 60px;
  cursor: default;
}

nav ul li a {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2px;
  text-transform: none;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

nav ul li:last-child a {
  padding: 9px 25px;
  color: #fff;
  background: linear-gradient(0deg, #176cc0, #4f9dea);
  border-radius: 50px;
}

nav ul li:last-child a:hover {
  color: #fff;
}

nav ul li a:hover {
  color: #1976d2;
}

nav ul li + li {
  margin-left: 25px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Components: hero banner                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero-banner {
    height: 600px;
    background: #000 url("../img/aurora.jpg") center center / cover no-repeat;
}

.hero-banner h2 {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
}

.hero-banner h3 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.hero-banner hr {
    width: 70px;
    margin: 0 auto;
    margin-top: 22px;
    border-top: 3px solid #2c8ae6;
}

.hero-banner p {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 5555;
}