/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Index                                               */
/*   Andre Specht                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@charset "UTF-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-shadow: none;
   font-size: 62.5%;
   box-sizing: border-box;
   vertical-align: baseline;
   transition: all .2s ease-in-out;
}

body {
   font-family: 'Lato', Lato, sans-serif;
}

.column {
   float: left;
   width: 100%;
}

.container {
   position: relative;
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
}

.container:after, .column:after, .row:after {
   display: table;
   clear: both;
   content: "";
}

h1, h2, div, p, a, li {
	-webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
			  font-smoothing: antialiased;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Colors                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#course h1,
table tr td {
   color: #000;
}

#course p,
table tr th {
   color: #606060;
}

a i {
   color: #07af77;
}


table td a i:hover, footer p a i:hover {
   color: #0fb28a;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
   width: 100%;
   min-width: 100%;
}

nav {
   text-align: right;
   width: 100%;
   height: 4.8rem;
   font-size: 100%;
   background-color: #057751; /* #057751 */
   overflow: hidden;
}

nav ul {
   float: none;
   list-style: none;
}

nav ul li {
   display: inline;
   line-height: 4.8rem;
   font-size: 1.6rem;
   color: #fff;
   text-decoration: none;
   cursor: default;
}

nav ul li a {
   font-size: 1.6rem;
   color: #fff;
   font-weight: 600;
   text-decoration: none;
   letter-spacing: 0rem;
   cursor: pointer;
}

nav ul li + li {
   margin-left: 2rem;
}

nav ul li a:hover, nav ul li:hover {
   text-decoration: underline;
}

nav ul li:first-child {
   margin-left: 0;
   float: left;
   font-weight: 600;
   letter-spacing: 0rem;
}

nav ul li:first-child:hover {
   text-decoration: none;
   color: #fff;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Course info                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#course {
   text-align: center;
}

#course h1 {
   margin-top: 5.3rem;
   margin-left: 0rem;
   font-size: 2.6rem;
   font-weight: 500;
   letter-spacing: -.05rem;
   cursor: default;
}

#course p {
   margin-top: .5rem;
   margin-left: 0rem;
   font-size: 1.6rem;
   font-weight: 500;
   letter-spacing: 0;
   cursor: default;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Checkbox                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.checkbox {
   display: block;
   position: relative;
   left: .06rem;
   bottom: 1.2rem;
   cursor: pointer;
   -webkit-user-select: none;
      -moz-user-select: none;
           user-select: none;
}

.checkbox input {
   position: absolute;
   opacity: 0;
   height: 0;
   width: 0;
   cursor: pointer;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 1.4rem;
   width: 1.4rem;
   border: .1rem solid #cfd1dd;
   border-radius: .4rem;
}

.checkbox input:checked ~ .checkmark {
   background-color: #0fb28a;
   border: 0;
}

.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.checkbox input:checked ~ .checkmark:after {
   display: block;
}

.checkbox .checkmark:after {
   left: .45rem;
   top: .2rem;
   width: .32rem;
   height: .64rem;
   border: solid white;
   border-width: 0 .2rem .2rem 0;
   -webkit-transform: rotate(35deg);
      -moz-transform: rotate(35deg);
           transform: rotate(35deg);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Table                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table {
   margin-top: 3.6rem;
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
}

table tr .td-1 {
   width: 5%;
}

table tr .td-2 {
   width: 45%;
}

table tr .td-3 {
   width: 24%;
}

table tr .td-4 {
   width: 21%;
}

table tr .td-5 {
   width: 5%;
}

table tr .td-1 input {
   color: #0fb28a;
}

table tr {
   border-bottom: .1rem solid #e6e7ee;
}

table tr th:last-child,
table tr td:last-child {
   text-align: right;
}

table tr th {
   padding: 1.3rem 0;
   font-size: 1.5rem;
   font-weight: 700;
   text-align: left;
   cursor: default;
}

table tr td {
   padding: 1.3rem 0;
   background-color: #fff;
   font-size: 1.5rem;
   font-weight: 500;
   cursor: default;
}

table tr td:first-child,
table tr td:last-child {
   padding: 0 1.6rem 0 1.6rem;
}

table td a i {
   position: relative;
   bottom: 0rem;
   font-size: 1.3rem;
   text-decoration: none;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Break                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#break {
   height: 14rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
   width: 100%;
   height: 5.1rem;
   text-align: center;
   overflow: hidden;
}

footer p a i {
   position: relative;
   font-size: 1.6rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Logo                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#logo {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 12rem;
	height: 12rem;
	background: transparent url("logo_g.png") no-repeat center center;
	background-size: cover;
  transform: translate(-50%, -50%);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 959px) {
	.container { width: 90%; }
}


@media screen and (min-width: 960px) {
   #logo { display: none; }
   .container { width: 90%; }
   .column:first-child { margin-left: 0; }
   .twelve.column { width: 100%; margin-left: 0; }
}
