@import "base.css";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Components: header                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  min-width: 100%;
  background-color: #57A451;
  overflow: hidden;
}

header div {
  display: flex;
  justify-content: space-between;
}

.title {
  height: 56px;
}

.title h1 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 56px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

nav {
  text-align: right;
  height: 56px;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline;
  line-height: 56px;
  cursor: default;
}

nav ul li a {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2px;
  text-transform: none;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li + li {
  margin-left: 25px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Components: using CSS calc()                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* This is an example. You don't need this to separate
   header from footer */
main {
  min-width: 100%;
  height: calc(100vh - 56px - 100px);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Components: footer                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
   min-width: 100%;
   height: 100px;
   background-color: #f6f6f7;
   overflow: hidden;
}

.footer-content {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}

.social .nav {
   min-width: 100%;
   height: 4rem;
   text-align: left;
}

.social .nav ul li + li {
   margin-left: 10px;
}

.social .nav ul li {
   display: inline-block;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   overflow: hidden;
}

.social .nav ul li a {
   display: inline-block;
   position: relative;
   width: 40px;
   height: 40px;
   font-size: 20px;
   color: #505464;
   border: 1px solid #d7d7db;
   background-color: transparent;
   border-radius: 5rem;
}

.social .nav ul li a i {
   font-size: 19px;
}

.social .nav ul li a i.fa-twitter {
   line-height: 40px;
}

.social .nav ul li a i.fa-instagram,
.social .nav ul li a i.fa-youtube {
   line-height: 38px;
}

.social .nav ul li a.twitter:hover {
   border: 1px solid #1da1f2;
   background-color: #1da1f2;
}

.social .nav ul li a.instagram:hover {
   border: 1px solid #e1306c;
   background-color: #e1306c;
}

.social .nav ul li a.youtube:hover {
   border: 1px solid #ff0000;
   background-color: #ff0000;
}

.social .nav ul li a.twitter:hover i,
.social .nav ul li a.instagram:hover i,
.social .nav ul li a.youtube:hover i {
   color: #fff;
}

.copyright {
   height: 40px;
   text-align: right;
}

.copyright p {
   line-height: 40px;
   font-size: 16px;
   font-weight: 400;
}
