<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components | Hero banner</title>
    <link rel="shortcut icon" href="assets/img/favicon.png?v=2" type="image/x-icon">
    <link rel="stylesheet" href="assets/style/hero-banner.css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="container flexbox">
          <div class="title">
            <h1>Super Website</h1>
          </div>
          <nav>
            <ul>
              <li><a href="#" target="_blank">Blog</a></li>
              <li><a href="#" target="_blank">Contact</a></li>
              <li><a href="#" target="_blank">About us</a></li>
              <li><a href="#" target="_blank">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="hero-banner">
        <div class="overlay">
            <div class="container">
                <h2>Web development basics</h2>
                <h3>The secrets of the web development carrer</h3>
                <hr>
                <p>By John David Jones</p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
